html,body {
  background: transparent
}
body {
  margin: 0px; padding: 10px; box-sizing: border-box; font-size: 14px; line-height: 150%; font-family: arial,verdana,sans-serif; text-size-adjust: none; -webkit-text-size-adjust: none
}
ul,ol {
  margin: 10px 0px
}
p {
  margin: 0px; padding: 0px
}
pre {
  user-select: none; -moz-user-select: none; -webkit-user-select: none
}
.ubb_quote {
  background: #f2f2f2; border: #ccc 1px dotted; border-left: #000 10px solid; margin: 10px 0px; padding: 10px; line-height: 150%
}